{% extends "base.html" %}
{% block content %}

{% for book in all_books %}
 <div>  
    <hr>
    <div>
    <ul>
        <li>
            {{ book.author.name }}
        </li>
        <li>
            {{ book.title }}
        </li>
        <li>
            {{ book.genre }}
        </li>
    </div>
        <div class="buttons">

            <form class="delete-form" action="/books/{{book.id}}/delete" method="POST">
            <input type="submit" value="Delete">
            </form>
        
    </ul>
</div>
<hr>

{% endfor %}
{% endblock %}